include README.md doc/example_nw.png doc/theory.pdf \
  dnet/test/__init__.py dnet/test/network.py \
  test/fukui-tepco/LNewSL.dat test/fukui-tepco/LNewZ.dat \
  test/fukui-tepco/root.dat test/fukui-tepco/sw_list.dat \
  test/fukui-tepco/SWed.dat test/data-fukui-tepco.yaml test/data.yaml
